# Qdrant Database Configuration
QDRANT_HOST=host.docker.internal
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=law_articles

# Reasoning LLM Configuration (e.g. local model with reasoning capability)
REASONING_BASE_URL=http://host.docker.internal:12345/v1
REASONING_API_KEY=not_needed
REASONING_MODEL=gemma-4-e2b
REASONING_MODEL_CONTEXT=16384

# Non-Reasoning LLM Configuration (e.g. cloud model without reasoning)
NON_REASONING_BASE_URL=http://host.docker.internal:12345/v1
NON_REASONING_API_KEY=not_needed
NON_REASONING_MODEL=gemma-4-e2b-instruct
NON_REASONING_MODEL_CONTEXT=16384

# Embedding OpenAI Model Configuration
EMBEDDING_OPENAI_BASE_URL=https://openrouter.ai/api/v1
EMBEDDING_OPENAI_API_KEY=sk-or-v1-xxxxx
EMBEDDING_OPENAI_MODEL=baai/bge-m3

# Reranker OpenAI Model Configuration
RERANKER_OPENAI_BASE_URL=https://openrouter.ai/api/v1
RERANKER_OPENAI_API_KEY=sk-or-v1-xxxxx
RERANKER_OPENAI_MODEL=cohere/rerank-4-pro

# Guardrail OpenAI Model Configuration
GUARDRAIL_OPENAI_BASE_URL=http://host.docker.internal:12345/v1
GUARDRAIL_OPENAI_API_KEY=not_needed
GUARDRAIL_OPENAI_MODEL=gemma-4-e2b-instruct